<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.health.READ_HEART_RATE" />
    <uses-permission android:name="android.permission.health.READ_STEPS" />
    <uses-permission android:name="android.permission.health.READ_TOTAL_CALORIES_BURNED" />
    <uses-permission android:name="android.permission.health.READ_OXYGEN_SATURATION" />
    <uses-permission android:name="android.permission.health.READ_SLEEP" />
    <uses-permission android:name="android.permission.health.READ_SPEED" />
    <uses-permission android:name="android.permission.health.READ_RESPIRATORY_RATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="com.google.android.apps.healthdata" />
    </queries>

    <application
        android:name="com.ethan.FamiCare.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FamiCare"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".Group.TotalMemberActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Mood.SymptomActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Settings.Friends_interface"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Post.DiaryCommentActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Post.DiaryPostActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Diary.DiaryContentActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/attrs" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:label="FamiCare">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Settings.NotificationActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Settings.FriendsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Settings.AccountActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Settings.Addfriend"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".sport.Sport4"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".sport.Sport3"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".sport.Sport2"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Group.GroupChatActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Group.AddNewGroup"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Mood.Breathe"
            android:screenOrientation="portrait"
            android:exported="false"
            android:label="呼吸舒緩"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Mood.Meditation"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="冥想"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".sport.Sport1"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Settings.Signup"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Settings.Login"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Health.HealthSpeedActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Health.HealthSleepActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Health.HealthRespiratoryRateActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Health.HealthOxygenSaturationActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Health.HealthHeartRateActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Health.HealthCaloriesActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Group.GroupChatroom"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ChatGPT.ChatGPTActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Group.GroupCalendar"
            android:screenOrientation="portrait"
            android:exported="false"
            android:label="行事曆"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".PrivacyPolicyActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" />
            </intent-filter>

            <meta-data
                android:name="health_permissions"
                android:resource="@array/health_permissions" />
        </activity>
        <activity
            android:name=".Health.HealthConnect"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Health.HealthStepsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <service
            android:name=".PushNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".alarmReceiver" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>