<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.health.READ_HEART_RATE" />
    <uses-permission android:name="android.permission.health.READ_STEPS" />
    <uses-permission android:name="android.permission.health.READ_TOTAL_CALORIES_BURNED" />
    <uses-permission android:name="android.permission.health.READ_BLOOD_GLUCOSE" />
    <uses-permission android:name="android.permission.health.READ_BLOOD_PRESSURE" />
    <uses-permission android:name="android.permission.health.READ_HYDRATION" />
    <uses-permission android:name="android.permission.health.READ_OXYGEN_SATURATION" />
    <uses-permission android:name="android.permission.health.READ_SLEEP" />
    <uses-permission android:name="android.permission.health.READ_SPEED" />
    <uses-permission android:name="android.permission.health.READ_RESPIRATORY_RATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <queries>
        <package android:name="com.google.android.apps.healthdata" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FamiCare"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".sport.Sport1"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Chatroom"
            android:exported="false" />
        <activity
            android:name=".Health.HealthSpeedActivity"
            android:exported="false" />
        <activity
            android:name=".Health.HealthSleepActivity"
            android:exported="false" />
        <activity
            android:name=".Health.HealthRespiratoryRateActivity"
            android:exported="false" />
        <activity
            android:name=".Health.HealthOxygenSaturationActivity"
            android:exported="false" />
        <activity
            android:name=".Health.HealthHydrationActivity"
            android:exported="false" />
        <activity
            android:name=".Health.HealthHeartRateActivity"
            android:exported="false" />
        <activity
            android:name=".Health.HealthCaloriesActivity"
            android:exported="false" />
        <activity
            android:name=".Health.HealthBloodPressureActivity"
            android:exported="false" />
        <activity
            android:name=".Health.HealthBloodGlucoseActivity"
            android:exported="false" />
        <activity
            android:name=".GroupChatroom"
            android:exported="false" />
        <activity
            android:name=".GroupNameEditFragment"
            android:exported="false" />
        <activity
            android:name=".ChatGPTActivity"
            android:exported="false" />
        <activity
            android:name=".GroupCalendar"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".PrivacyPolicyActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" />
            </intent-filter>

            <meta-data
                android:name="health_permissions"
                android:resource="@array/health_permissions" />
        </activity>
        <activity
            android:name=".Health.HealthConnect"
            android:exported="false" />
        <activity
            android:name=".Health.HealthStepsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="FamiCare">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".PushNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".alarmReceiver" />
    </application>

</manifest>